DB_NAME=farm_quest
DB_PORT=5432
DB_URL=jdbc:postgresql://localhost:${DB_PORT}/${DB_NAME}
DB_USERNAME=postgres
DB_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_NAME=knowledge-documents
QDRANT_VECTOR_SIZE=1536
QDRANT_INITIALIZE_ON_STARTUP=true

AI_PROVIDER_NAME=spring-ai
AI_PROVIDER_API_KEY=

SPRING_DOCKER_COMPOSE_ENABLED=false
